body,
html {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
  overflow-x: hidden;
  background-color: #222222;
  color: #ecf0f1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #ecf0f1;
}

a:hover {
  text-shadow: 0 0 15px #fff;
}

i {
  transition: 0.5s;
  margin: 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

strong {
  font-weight: bolder;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

#head-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  width: 100%;
  height: 65px;
  line-height: 65px;
  box-sizing: border-box;
  transition: 1s ease;
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.header-mask {
  position: absolute;
  inset: 0;
  height: 200%;
  background: linear-gradient(to bottom, #222222 0%, transparent 50%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  pointer-events: none;
}

#image-logo {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 2px solid #ecf0f1;
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: 5px;
  transition: 0.5s;
}

#image-logo > img {
  max-width: 100%;
  max-height: 100%;
}

.home-image-logo {
  transform: translate(-200px, 0);
}

.headlist {
  display: flex;
  justify-content: flex-start;
}

.headlist a {
  display: block;
  font-size: 18px;
  color: #ecf0f1;
  padding: 0 20px;
  transition: 0.2s;
  text-decoration: none;
}

.headlist a:hover {
  opacity: 0.8;
  text-shadow: 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff;
  color: white;
}

#about {
  display: flex;
  margin-top: 80px;
  gap: 16px;
  flex-wrap: wrap;
}

#main-img {
  height: 96px;
  width: 96px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid #ecf0f1;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease all;
}

#main-img img {
  width: 100%;
  height: 100%;
}

#main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-text {
  color: #ecf0f1;
  font-size: 18px;
  line-height: 1.5;
  flex: 2;
  padding: 0 10px;
}

.icon-list {
  display: flex;
}

.icon-list li {
  font-size: 30px;
  margin: 5px 10px;
  color: #ecf0f1;
  width: 30px;
  height: 30px;
}

footer {
  padding: 20px;
  line-height: 1.5;
  max-width: 1160px;
  margin: 20px auto;
}

.content-title {
  font-size: 28px;
  color: #bdc3c7;
  margin: 20px 0px;
  border-bottom: 2px solid #bdc3c7;
  opacity: 1;
  transform: translate(0, 0);
}

.company {
  flex-direction: column;
}

.company-head {
  display: flex;
  gap: 20px;
}

.company-image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.company-head-info h3 {
  font-size: 18px;
}

.company-head-info h4 {
  font-size: 16px;
}

.company-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style-type: none;
  padding: 2px;
}

.content-section {
  display: flex;
  line-height: 1.5;
  margin-top: 20px;
  flex-wrap: wrap;
}

#project-list,
#work-list {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
}

.project,
.company {
  display: flex;
  gap: 20px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bdc3c7;
}

.project-image {
  flex: 0 0 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecf0f1;
}

.project-image img {
  max-width: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
}

.project-name {
  font-size: 20px;
}

.project-links {
  display: flex;
}
.project-links > a {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.project-links .link-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 640px) {
  section {
    padding: 20px 10px;
  }

  #about {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    text-align: center;
  }

  #main-info {
    align-items: center;
    gap: 16px;
  }

  #image-logo {
    width: 50px;
    height: 50px;
  }

  .project-image {
    display: none;
  }
}
